# Arquivos e pastas específicos do sistema e de configurações pessoais
../../../.angular-config.json
../../../.bash_history
../../../.bash_profile
../../../.bashrc
../../../.bundle/
../../../.codeium/
../../../.config/
../../../.docker/
../../../.dotnet/
../../../.gitconfig
../../../.gk/
../../../.gnupg/
../../../.ipynb_checkpoints/
../../../.ipython/
../../../.lesshst
../../../.local/
../../../.m2/
../../../.nuget/
../../../.ssh/
../../../.viminfo
../../../.vscode/
../../../AppData/
../../../Contacts/
../../../Documents/
../../../Downloads/
../../../Favorites/
../../../IdeaProjects/
../../../Links/
../../../Music/
../../../NTUSER.DAT
../../../NTUSER.DAT*
../../../ntuser.dat*
../../../.849C9593-D756-4E56-8D6E-42412F2A707B
../../../Videos/
../../../dwhelper/
../Nova pasta/
../*.lnk
../*.exe
../*.ini